<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Event image:</strong>
  <%= image_tag @event.event_image, height: "30px", width: "50px" %>
</p>

<p>
  <strong>Venue:</strong>
  <%= @event.venue %>
</p>
<p>
  <strong>Address:</strong>
  <%= @event.address %>
</p>

<p>
  <strong>Location lati:</strong>
  <%= @event.location_lati %>
</p>

<p>
  <strong>Location long:</strong>
  <%= @event.location_long %>
</p>

<p>
  <strong>Category:</strong>
  <%= @event.category %>
</p>

<p>
  <strong>Subcategories:</strong>
  <%= @event.subcategories %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @event.cost %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event.time %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
